# App
Django<5.0
django-extensions
git+https://github.com/bartsanchez/django-tagging.git@develop#egg=django-tagging
dj-database-url
psycopg[binary]
whitenoise
django-crispy-forms
crispy-bootstrap5
django-extra-views
django-recaptcha3
git+https://github.com/bartsanchez/django-recaptcha3.git@master#egg=django-recaptcha3
django-prometheus
celery
redis
gunicorn

# Tests
pytest-django
pytest-cov
pytest-recording
factory_boy
freezegun
requests
ipdb
splinter[django,selenium4]
codecov
