# App
Django<4.0
django-extensions
django-tagging
dj-database-url
psycopg2-binary
whitenoise
django-crispy-forms
crispy-bootstrap5
django-extra-views
django-recaptcha3
django-prometheus
celery
redis
gunicorn

# Tests
pytest-django
pytest-cov
pytest-recording
factory_boy
freezegun
requests
ipdb
splinter[django,selenium4]
codecov
