html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#header {
  background-color: #343a40;
}
.menu-header li {
  font-size: 0.8em;
  background-color: #4f5963;
}
.menu-header li a {
  color: white;

}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #343a40;
}
.card {
  margin: 1em;
}
a {
  color: #17a2b8;
  text-decoration: none;
}
h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
h4 {
    font-style: italic;
}
ul.examples {
  list-style: none;
}
ul.examples li {
  font-style: italic;
}
ul.examples li:before {
  content: '\27A4';
  margin-left: -20px;
  margin-right: 10px;
}
/* Tags cloud */
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  background-color: #f8f9fa;
}
ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 9; }
ul.cloud a[data-weight="8"] { --size: 11; }
ul.cloud a[data-weight="9"] { --size: 14; }
ul.cloud a {
  --size: 4;
  --color: #a33;
  opacity: calc((15 - (9 - var(--size))) / 15);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  color: var(--color);
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}
ul.cloud li:nth-child(2n+1) a { --color: #e69900; }
ul.cloud li:nth-child(3n+1) a { --color: #6666ff; }
ul.cloud li:nth-child(4n+1) a { --color: #212529; }
/* ---------- */
