html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.card {
  margin: 1em;
}
h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
ul.examples {
  list-style: none;
}
ul.examples li {
  font-style: italic;
}
ul.examples li:before {
  content: '\27A4';
  margin-left: -20px;
  margin-right: 10px;
}
