<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Lenguaje coloquial</title>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Lenguaje coloquial</a>
      <a href="{% url 'definition-add' %}">Add new definition</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>

        <div class="col-6">
          {% block content %}{% endblock %}
        </div>

        <div class="col">
        </div>
      </div>
    </div>

  </body>
</html>
