<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block metadescription %}{% endblock %}">

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'definitions/style.css' %}">

    {% block extrahead %}{% endblock %}

    <title>{% block page_title %}Lenguaje Coloquial | Diccionario en español{% endblock %}</title>
  </head>
  <body>

    <nav id="header" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Lenguaje coloquial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="container">
                  <form class="row" action="{% url 'term-search' %}" method="get">
                    <div class="col col-10 p-0">
                      <input name="v" class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                    </div>
                    <div class="col col-1">
                      <button id="form-button" class="btn btn-outline-warning" type="submit">Buscar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row text-center justify-content-md-center row-cols-auto">
              <ul class="navbar-nav menu-header">
                <li class="nav-item mx-2 mt-1 py-2 px-4">
                  <a class="dropdown-item" href="{% url 'tag-list' %}">Etiquetas</a>
                </li>
                <li class="nav-item mx-2 mt-1 py-2 px-4 bg-primary">
                  <a class="dropdown-item fw-bold" href="{% url 'definition-add' %}">Añadir definición</a>
                </li>
             </ul>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuario: {% if user.is_authenticated %}{{ user }}{% else %}Anónimo{% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button id="logout-button" type="submit" class="btn btn-light">Logout</button>
                </form>
              {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}">Crea tu cuenta</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </div>
    </nav>

    <main class="container">
      <article>
      <h1>{% block h1 %}Definiciones al azar{% endblock %}</h1>
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <aside class="col-md-4">
          {% if last_terms %}
          <div class="p-3 mb-3 bg-light">
            <h4>Últimas definiciones</h4>
            <ul>
              {% for term in last_terms %}
              <li><a class="last-terms" href="{% url 'term-detail' term.slug %}">{{ term }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="p-3 mb-3 bg-light">
            <h4>Contacto</h4>
            <p class="mb-0"><a href="mailto:info@lenguajecoloquial.com">info@lenguajecoloquial.com</a></p>
          </div>
        </aside>
      </div>
      </article>
    </main>

    <footer id="footer" data-bs-theme="dark">
      <div class="container">
        <span class="text-muted">Copyright {% now "Y" %}. All Rights Reserved.</span>
      </div>
    </footer>

  </body>
</html>
