{% extends "lengcol/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="card">

    <div class="card-header">
        <a href="{% url 'term-detail' definition.term.slug %}">{{ object.term }}</a>
    </div>

    <div class="card-body">
      {{ object.value }}

    <p>Fecha de creación {{ object.created | date:'d-m-Y' }}</p>
    <p>Autor: {% if object.user %}{{ object.user.username }}{% else %}Anónimo{% endif %}</p>


    {% if object.has_examples %}
    <ul class="list-group">
      <li class="list-group-item active">Ejemplos</li>
      {% for example in object.examples %}
        <li class="list-group-item">{{ example }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form action="#" method="post">{% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Añadir" class="btn btn-primary"/>
    </form>
    </div>

  </div>
{% endblock %}
