<div class="card">

  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'term-detail' definition.term.slug %}">{{ definition.term }}</a>
    </h5>

    <p>
      <a href="{% url 'definition-detail' definition.uuid %}">&#128279;</a>
      {{ definition }}
    </p>

    {% if definition.has_examples %}
    <ul class="examples">
      {% for example in definition.examples %}
        <li>{{ example }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% for tag in definition.assigned_tags %}
      <a href="{% url 'definitions-by-tag' tag %}" class="badge rounded-pill text-bg-secondary">{{ tag }}</a>
    {% endfor %}

  </div>

  <div class="card-footer text-end text-muted">
    {% if user == definition.user %}
      <div class="float-left">
          <div><a href="{% url 'definition-update' definition.uuid %}">&#9998; Editar</a></div>
          <div><a href="{% url 'definition-disable' definition.uuid %}">&#10007; Eliminar</a></div>
      </div>
    {% endif %}
    <div>Fecha de creación {{ definition.created | date:'d-m-Y' }}</div>
    <div>Autor: {% if definition.user %}{{ definition.user.username }}{% else %}Anónimo{% endif %}</div>
  </div>
</div>
