{% extends "lengcol/base.html" %}

{% block metadescription %}{{ definition.term }} se define en español como {{ definition.value }}.{% endblock %}

{% load crispy_forms_tags %}

{% block page_title %}Lenguaje Coloquial | Definiciones de {{ definition.term }} por {{ user }}{% endblock %}

{% block h1 %}Definición de {{ definition.term }}{% endblock %}

{% block content %}
  {% include 'definitions/definition.html' with definition=definition %}
  {% include 'definitions/other_definitions.html' with other_definitions=other_definitions %}
{% endblock %}
