{% extends "lengcol/base.html" %}

{% load recaptcha3 %}
{% load crispy_forms_tags %}

{% block extrahead %}
  {% recaptcha_init %}
  {% recaptcha_ready action_name='new_definition' %}
{% endblock %}

{% block content %}
  <div class="card">

    <div class="card-header">
      Actualizar definición
    </div>

    <div class="card-body">
      <form action="#" method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Guardar" class="btn btn-primary"/>
      </form>
    </div>
  </div>
{% endblock %}
