<div class="card">

  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ definition.term.get_absolute_url }}">{{ definition.term }}</a>
    </h5>

    <p>
      <a href="{{ definition.get_absolute_url }}">&#128279;</a>
      {{ definition }}
    </p>

    {% if definition.has_examples %}
    <ul class="examples">
      {% for example in definition.examples %}
        <li>{{ example }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="card-footer text-right text-muted">
    <div>Fecha de creación {{ definition.created | date:'d-m-Y' }}</div>
    <div>Autor: {% if definition.user %}{{ definition.user.username }}{% else %}Anónimo{% endif %}</div>
  </div>
</div>
