{% extends "lengcol/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="card">

    <div class="card-header">
        <a href="{% url 'term-detail' definition.term.slug %}">{{ object.term }}</a>
    </div>

    <div class="card-body">
      {{ object.value }}

    <p>Fecha de creación {{ object.created | date:'d-m-Y' }}</p>


    {% for example in object.example_set.all %}
      {{ example }}
    {% endfor %}

    <form action="#" method="post">{% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Añadir" class="btn btn-primary"/>
    </form>
    </div>

  </div>
{% endblock %}
