{% extends "lengcol/base.html" %}

{% block content %}
<a href="{% url 'definition-add' %}">Add new definition</a>

<ul>
  {% for term in terms %}
    <li><a href="{% url 'term-detail' term.slug %}">{{ term }}</a></li>

    {% if term.definition_set.all %}
      <ul>
        {% for definition in term.definition_set.all %}
          <li><a href="{% url 'definition-detail' definition.pk %}">{{ definition }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

  {% endfor %}
</ul>
{% endblock %}
