{% extends "lengcol/base.html" %}
{% load tagging_tags %}

{% block metadescription %}Etiquetas asignadas a definiciones, creadas por usuarios de esta página, de expresiones usadas de manera coloquial.{% endblock %}

{% block h1 %}Etiquetas{% endblock %}

{% block content %}

<ul class="cloud">
    {% tag_cloud_for_model definitions.Definition as cloud_tags with steps=9 %}
    {% for cloud_tag in cloud_tags %}
      <li>
        <a href="{% url 'definitions-by-tag' cloud_tag %}" data-weight="{{ cloud_tag.font_size }}">{{ cloud_tag }}</a>
      </li>
    {% endfor %}
</ul>

<h3>Lista completa</h3>

<ul class="list-group list-group-flush">
{% for tag in tags %}
  <li class="list-group-item">
    <a href="{% url 'definitions-by-tag' tag %}">{{ tag }}</a>
  </li>
{% endfor %}
</ul>
{% include 'lengcol/pagination.html' %}
{% endblock %}
